/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    padding-bottom: 0px;
    margin: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.carreira {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.pergunta {
    margin: 10px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; 
}

form textarea {
    height: 100px; 
    resize: vertical; 
}

footer .redes-sociais {
    margin-top: 10px;
}

footer .redes-sociais a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: cover;
}

footer .redes-sociais .icon-facebook {
    background-image: url('assets/20673.png');
}

footer .redes-sociais .icon-twitter {
    background-image: url('assets/254406.png');
}

footer .redes-sociais .icon-instagram {
    background-image: url('assets/1384031.png');
}
